.rollover a{display:block;text-indent:-9999px;cursor:pointer;outline:transparent solid 0;margin-top:9px}#readmore a{width:96px;height:30px;background:url(../../images/productRead.png) no-repeat 0 0}#readmore a:hover{background:url(../../images/productRead.png) no-repeat 0 -40px}#readless a{width:96px;height:30px;background:url(../../images/productRead.png) no-repeat 0 -80px}#readless a:hover{background:url(../../images/productRead.png) no-repeat 0 -120px}
